In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'1.1.5'

In [3]:
data = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', nrows = 100)

In [4]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
# Changing tpep_pickup_datetime and tpep_dropoff_datetime timestamp type
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)

In [6]:
# Creating connection to postgres
# Using SQLAlchemy to set up connection and transfer data

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_postgres_data')
# To check if connection actually works 
# engine.connect()


'''
Running in background

    docker run -it \
	-e POSTGRES_USER="root" \
	-e POSTGRES_PASSWORD="root" \
	-e POSTGRES_DB="ny_taxi_postgres_data" \
	-v $(pwd)/ny_taxi_postgres_data:/var/lib/postgres/data \
	-p 5432:5432 \
	postgres:13

'''

/home/test/project/Data-eng/venv/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'\nRunning in background\n\n    docker run -it \t-e POSTGRES_USER="root" \t-e POSTGRES_PASSWORD="root" \t-e POSTGRES_DB="ny_taxi_postgres_data" \t-v $(pwd)/ny_taxi_postgres_data:/var/lib/postgres/data \t-p 5432:5432 \tpostgres:13\n\n'

In [7]:
# Create a schema of the data to facilitate postgres upload in the form of postgres by specifying engine
print(pd.io.sql.get_schema(data,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
# Creating an iterator, don't want to upload whole data in one go

df_iter = data = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', iterator=True,chunksize=100000)

In [12]:
df_iter

In [13]:
# next() fuction returns next element in iterator
df = next(df_iter)

In [14]:
# Changing tpep_pickup_datetime and tpep_dropoff_datetime timestamp type
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
len(df)

100000

In [16]:
# Just want to create columns with the header, not want to insert the data
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [17]:
# Uploading data to postgres
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append',method='multi')